Parse Backstories/.vs/Parse Backstories/DesignTimeBuild/.dtbcache.v2
Parse Backstories/.vs/**/*
Parse Backstories/Parse Backstories/bin/**/*
Parse Backstories/Parse Backstories/obj/**/*
Parse Backstories/ParseXmlDefinitions.Console/bin/**/*
Parse Backstories/ParseXmlDefinitions.Console/obj/**/*
Parse Backstories/ParseXmlDefinitions/bin/**/*
Parse Backstories/ParseXmlDefinitions/obj/**/*
/.vs
